.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;

  img {
    width: 5em;
  }
  a {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    img {
      margin: 10px;
    }
  }
}
@media screen and (max-width: 576px) {
  .categories {
    a {
      flex-basis: 25%;
      font-size: 12px;
    }
    img {
      width: 3em;
    }
  }
}
