.products {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  background-color: white;
  width: 95%;
  margin: 40px auto;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
  }
  .product {
    margin: 10px;
    text-align: center;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    * {
      margin: 6px;
    }
    img {
      width: 150px;
    }
  }
}

@media screen and (max-width: 576px) {
  .products {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .products {
    justify-content: center;
  }
}
